.landing-wrapper {
    background: url('/images/homepage_airplane_bg.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-box {
    max-width: 80vw;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.12);
}

.tab-btn {
    border: none;
    background: transparent;
    font-weight: 600;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.tab-btn.active {
    background: #e8f0e8;
    color: #2f6f3e;
}

.flight-form-box {
    border: 1px solid #d5d5d5;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 18px;
}

.search-btn {
    background: #1f4f2c;
    border-radius: 20px;
    padding: 14px;
    font-size: 17px;
    color: white;
    font-weight: 600;
    width: 100%;
    border: 2px solid #e3e3e3;
}

.search-btn:hover {
    background: #244f30;
}

html, body {
scroll-behavior: smooth;
}

.scroll-container {
    scroll-snap-type: y mandatory;
}

.snap-section {
    scroll-snap-align: start;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0.90);
}

.card-img-top {
    object-fit: cover;
}